<div class="panel panel-default"><!-- variants -->
  <div class="panel-body list-group">
    <%if variants%>
      <%variants.reverse.each_with_index do |v, i|%>
        <a class="pointer list-group-item" data-ix='<%=variants.length - i-1%>'>
          <%=icon({ cls:'unchecked pull-left', hov:'changeIcon($(this), "check")' })%>
          <%=v.text%>
          <%=icon({cls:'remove pull-right', clk:"deleteVar( $(this) )"})%>
        </a>
      <%end%>
    <%end%>

    <%if question%>
      <%question.variants.reverse.each do |v|%>
        <a class="pointer list-group-item" data-id='<%=v.id%>'>
          <%=icon({ cls:'unchecked pull-left', hov:'changeIcon($(this), "check")' })%>
          <%=v.text%>
          <%=icon({ cls:'remove pull-right', clk:'deleteVar( $(this), #{question.id})' })%>
        </a>
      <%end%>
    <%end%>
  </div>
</div>
