<!DOCTYPE html>
<html>
  <head>
    <title>Brand</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    <%= javascript_include_tag "application", params[:controller] %>
  </head>

  <body class="container">
    <center>
      <%=render partial: 'partials/navbar', locals: {
        navs:[
          {text: 'Home', url: [root_path]},
          {text: 'Start', url: [get_question_path(1)]},
          {text: 'New Quiz', url: [new_quiz_path, new_question_path]},
          {text: 'Contact', url: []},
          {text: 'About', url: []},
        ],
      }%>
    </center>
    <center>
      <div id='results'>
        <%=render partial: 'partials/alert', locals: {cls: 'success'}%>
        <%=render partial: 'partials/alert', locals: {cls: 'danger'}%>
      </div>
    </center>

    <%= yield %>

  </body>
</html>
